[package]
authors = ["Zhang Li <richox@qq.com>"]
build = "src/build.rs"
edition = "2018"
name = "orz"
version = "1.6.1"

[lib]
crate-type = ["rlib", "staticlib", "cdylib"]

[dependencies]
byteorder = "1.3.2"
log = "0.4.8"
simplelog = "0.7.4"
structopt = "0.3.3"
unchecked-index = "0.2.2"
libc = "0.2"

[profile]
[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = 3
overflow-checks = false
panic = "abort"
